<div class="main">
    <section class="admin">
        <div class="container">
            <p class="admin__title">Admin panel</p>
            <form class="admin__form" id="admin-form">
                <p class="admin__text">Indicate the name of the product</p>
                <input type="text" name="name">
                <p class="admin__text">Enter picture link</p>
                <input type="text" name="img">
                <p class="admin__text">Select product type</p>
                <select name="type">
                    <option value="types">types</option>
                    <option value="clothes">clothes</option>
                    <option value="shoes">shoes</option>
                    <option value="accessories">accessories</option>
                </select>
                <p class="admin__text">Specify the size</p>
                <input type="text" name="size">
                <p class="admin__text">specify the product category</p>
                <input type="text" name="category">
                <p class="admin__text">Indicate the light</p>
                <select name="color">
                    <option value="colors">colors</option>
                    <option value="Beige">Beige</option>
                    <option value="Blue">Blue</option>
                    <option value="Black">Black</option>
                    <option value="Orange">Orange</option>
                    <option value="Green">Green</option>
                    <option value="Brown">Brown</option>
                    <option value="Purple">Purple</option>
                    <option value="Gold">Gold</option>
                    <option value="Taupe">Taupe</option>
                    <option value="White">White</option>
                    <option value="Pink">Pink</option>
                    <option value="Red">Red</option>
                </select>
                <p class="admin__text">Enter the price for the product</p>
                <input type="text" name="price" id="price-product">
                <button class="admin__add" type="submit">add product</button>
            </form>
        </div>
    </section>
</div>

<!-- category, size -->