<div class="main">
  <section class="category">
    <div class="container">
      <h1 class="category__title">CLOTHES</h1>
      <div class="category__container">
        <aside class="category__filter">
          <p class="category__subtitle">CATEGORY</p>
          <hr />
          <ul class="category__list" id="clothes-category">
            <li class="category__item active">All</li>
            <li class="category__item ">Dresses</li>
            <li class="category__item">Denim</li>
            <li class="category__item">Jeans</li>
            <li class="category__item">Jumpsuits</li>
            <li class="category__item">Tops</li>
            <li class="category__item">Jackets and coats</li>
            <li class="category__item">Pants</li>
            <li class="category__item">Shorts</li>
            <li class="category__item">Skirts</li>
            <li class="category__item">Loungerie & underwear</li>
            <li class="category__item">Leather</li>
            <li class="category__item">Sweaters & knits</li>
          </ul>
          <p class="category__subtitle">SIZE</p>
          <hr />
          <div class="category__size size" id="clothes-size">
            <button class="size__btn">XXS</button>
            <button class="size__btn">XS</button>
            <button class="size__btn">S</button>
            <button class="size__btn">M</button>
            <button class="size__btn">L</button>
            <button class="size__btn">XL</button>
            <button class="size__btn">23</button>
            <button class="size__btn">24</button>
            <button class="size__btn ">25</button>
            <button class="size__btn">26</button>
            <button class="size__btn">27</button>
            <button class="size__btn">28</button>
            <button class="size__btn">29</button>
            <button class="size__btn">30</button>
            <button class="size__btn">31</button>
          </div>
          <p class="category__subtitle">COLOR</p>
          <hr />
          <div class="category__color" id="clothes-color">
            <div class="category__box">
              <span style="background: Beige"></span>
              <p>Beige</p>
            </div>
            <div class="category__box">
              <span style="background: Blue"></span>
              <p>Blue</p>
            </div>
            <div class="category__box">
              <span style="background: Black"></span>
              <p>Black</p>
            </div>
            <div class="category__box">
              <span style="background: Orange"></span>
              <p>Orange</p>
            </div>
            <div class="category__box">
              <span style="background: Green"></span>
              <p>Green</p>
            </div>
            <div class="category__box">
              <span style="background: Brown"></span>
              <p>Brown</p>
            </div>
            <div class="category__box">
              <span style="background: Purple"></span>
              <p>Purple</p>
            </div>
            <div class="category__box">
              <span style="background: Gold"></span>
              <p>Gold</p>
            </div>
            <div class="category__box">
              <span style="background: Taupe"></span>
              <p>Taupe</p>
            </div>
            <div class="category__box">
              <span style="background: White"></span>
              <p>White</p>
            </div>
            <div class="category__box">
              <span style="background: Pink"></span>
              <p>Pink</p>
            </div>
            <div class="category__box">
              <span style="background: Red"></span>
              <p>Red</p>
            </div>
          </div>
          <p class="category__subtitle">PRICE</p>
          <hr />
          <div class="category__price price" id="clothes-price">
            <div class="price__item">
              <input type="checkbox" id="price-one" data-from="0" data-before="10000" />
              <label for="price-one">₦0 - ₦10000</label>
            </div>
            <div class="price__item">
              <input type="checkbox" id="price-two" data-from="10000" data-before="20000" />
              <label for="price-two">₦10000 - ₦20000</label>
            </div>
            <div class="price__item">
              <input type="checkbox" id="price-three" data-from="20000" data-before="50000" />
              <label for="price-three">₦20000 - ₦50000</label>
            </div>
            <div class="price__item active">
              <input type="checkbox" id="price-four" data-from="50000" data-before="100000" />
              <label for="price-four">₦50000 - ₦100000</label>
            </div>
            <div class="price__item">
              <input type="checkbox" id="price-five" data-from="100000" data-before="200000" />
              <label for="price-five">₦100000 - ₦200000</label>
            </div>
          </div>
          <div class="category__field field">
            <form class="category__form" id="clothes-from">
              <input type="text" name="from" class="field__from" />
              <span>to</span>
              <input type="text" name="before" class="field__before" />
              <button class="field__btn" type="submit">Apply</button>
            </form>
          </div>
        </aside>
        <div class="category__goods">
          <hr />
          <div class="category__wrapper" id="clothes-wrapper">
            <!-- clothes -->
          </div>
          <div class="pagination">
            <div class="pagination__dots" id="clothes-dots">
              <!-- dots -->
            </div>
          </div>
        </div>
      </div>
      <button class="category__btn btn-top">
        <svg width="19" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 10.5L9.5 2l8.5 8.5" stroke="#000" stroke-width="2" />
        </svg>
      </button>
    </div>
  </section>
</div>