<div class="main open__pages">
  <section class="page">
    <div class="page__slider swiper-container">
      <!-- slider -->
      <div class="swiper-wrapper">
        <div class="page__item swiper-slide">
          <img src="./images/dist/page-girl.webp" alt="girl" />
        </div>
        <div class="page__item swiper-slide">
          <img src="./images/dist/page-girl.webp" alt="girl" />
        </div>
        <div class="page__item swiper-slide">
          <img src="./images/dist/page-girl.webp" alt="girl" />
        </div>
        <div class="page__item swiper-slide">
          <img src="./images/dist/page-girl.webp" alt="girl" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <h4 class="page__title">Explore our collection</h4>
    <a href="" class="page__link">
      <img src="./images/dist/page-link.svg" alt="link" />
    </a>
  </section>
  <section class="goods">
    <div class="container">
      <h2 class="goods__title">Shop your style</h2>
      <p class="goods__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae gravida
        cursus adipiscing viverra at tortor, egestas odio parturient. Morbi ut
        lorem in erat. Et et molestie diam diam ultricies. Scelerisque duis diam
        ac cras dictum adipiscing. Venenatis at sit proin ut vitae adipiscing id
        facilisis.
      </p>
      <div class="goods__wrapper" id="goods-wrapper">
        <!-- random goods -->
      </div>
      <div class="pagination">
        <div class="pagination__dots">
          <ul class="pagination__list" id="goods-dots">
            <!-- dots -->
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>