<div class="main">
  <section class="category">
    <div class="container">
      <h1 class="category__title">SHOES</h1>
      <div class="category__container">
        <aside class="category__filter">
          <p class="category__subtitle">CATEGORY</p>
          <hr />
          <ul class="category__list" id="shoes-list">
            <li class="category__item active">All</li>
            <li class="category__item">Booties</li>
            <li class="category__item">Flats</li>
            <li class="category__item">Boots</li>
            <li class="category__item">Sandals</li>
            <li class="category__item">Sneakers</li>
            <li class="category__item">Slides & Slippers</li>
            <li class="category__item">Heels</li>
            <li class="category__item">Wedges</li>
            <li class="category__item">Mules</li>
            <li class="category__item">Party shoes</li>
            <li class="category__item">Vegan shoes</li>
            <li class="category__item">Oxfords</li>
          </ul>
          <p class="category__subtitle">SIZE</p>
          <hr />
          <div class="category__size size" id="shoes-size">
            <button class="size__btn">35.5/5</button>
            <button class="size__btn">36/5.5</button>
            <button class="size__btn">37.5/6.5</button>
            <button class="size__btn">38/7</button>
            <button class="size__btn">39/7.5</button>
            <button class="size__btn">39.5/8</button>
            <button class="size__btn">40/7.5</button>
            <button class="size__btn">41/9.5</button>
            <button class="size__btn">41.5/10</button>
            <button class="size__btn">42/10.5</button>
            <button class="size__btn">42/11</button>
            <button class="size__btn">43/12</button>
          </div>
          <p class="category__subtitle">COLOR</p>
          <hr />
          <div class="category__color" id="shoes-color">
            <div class="category__box">
              <span style="background: Beige"></span>
              <p>Beige</p>
            </div>
            <div class="category__box">
              <span style="background: Blue"></span>
              <p>Blue</p>
            </div>
            <div class="category__box">
              <span style="background: Black"></span>
              <p>Black</p>
            </div>
            <div class="category__box">
              <span style="background: Orange"></span>
              <p>Orange</p>
            </div>
            <div class="category__box">
              <span style="background: Green"></span>
              <p>Green</p>
            </div>
            <div class="category__box">
              <span style="background: Brown"></span>
              <p>Brown</p>
            </div>
            <div class="category__box">
              <span style="background: Purple"></span>
              <p>Purple</p>
            </div>
            <div class="category__box">
              <span style="background: Gold"></span>
              <p>Gold</p>
            </div>
            <div class="category__box">
              <span style="background: Taupe"></span>
              <p>Taupe</p>
            </div>
            <div class="category__box">
              <span style="background: White"></span>
              <p>White</p>
            </div>
            <div class="category__box">
              <span style="background: Pink"></span>
              <p>Pink</p>
            </div>
            <div class="category__box">
              <span style="background: Red"></span>
              <p>Red</p>
            </div>
          </div>
          <p class="category__subtitle">PRICE</p>
          <hr />
          <div class="category__price price" id="shoes-price">
            <div class="price__item">
              <input type="checkbox" id="price-one" data-from="0" data-before="10000" />
              <label for="price-one">₦0 - ₦10000</label>
            </div>
            <div class="price__item">
              <input type="checkbox" id="price-two" data-from="10000" data-before="20000" />
              <label for="price-two">₦10000 - ₦20000</label>
            </div>
            <div class="price__item">
              <input type="checkbox" id="price-three" data-from="20000" data-before="50000" />
              <label for="price-three">₦20000 - ₦50000</label>
            </div>
            <div class="price__item">
              <input type="checkbox" id="price-four" data-from="50000" data-before="100000" />
              <label for="price-four">₦50000 - ₦100000</label>
            </div>
            <div class="price__item">
              <input type="checkbox" id="price-five" data-from="100000" data-before="200000" />
              <label for="price-five">₦100000 - ₦200000</label>
            </div>
          </div>
          <div class="category__field field">
            <form class="category__form" id="shoes-form">
              <input type="text" class="field__from" name="from" />
              <span>to</span>
              <input type="text" class="field__before" name="before" />
              <button class="field__btn" type="submit">Apply</button>
            </form>
          </div>
        </aside>
        <div class="category__goods">
          <hr />
          <div class="category__wrapper" id="shoes-wrapper">
            <!-- clothes -->
          </div>
          <div class="pagination">
            <div class="pagination__dots" id="shoes-dots">
              <!-- dots -->
            </div>
          </div>
        </div>
      </div>
      <button class="category__btn btn-top">
        <svg width="19" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 10.5L9.5 2l8.5 8.5" stroke="#000" stroke-width="2"/></svg>
      </button>
    </div>
  </section>
</div>
