//----- import -----//
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import '../../../node_modules/swiper/swiper.scss';

//----- variablse -----//
$mulish: 'Mulish', sans-serif;
$roboto: 'Roboto', sans-serif;
$pink: #ED165F;
$opactiy: #686868;
$headerBg: #F5F5F5;

//----- mixins -----//
@mixin breakpoint($point) { 
    @if $point == xl {
        @media(max-width: 1200px){@content;}
    }
    @else if $point == lg {
        @media(max-width: 992px){@content;}
    }
    @else if $point == md {
        @media(max-width: 768px){@content;}
    }
    @else if $point == sm {
        @media(max-width: 576px){@content;}
    }
    @else if $point == xs {
        @media(max-width: 360px){@content;}
    }
}
@mixin font($size, $weight, $family){
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
}

//----- config -----//
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: serif;
    font-size: 16px;
    line-height: 1.5;
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}
button, input {
    outline: none;
}
button {
    cursor: pointer;
}
.warning {
    @include font($size: 23px, $weight: 900, $family: $roboto);
    color: $pink;
    text-align: center;
}