.cart__modal {
    width: 400px;
    height: 320px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 99;
    padding: 15px;
    display: none;
    @include breakpoint(sm){
        width: 310px;
    }
    &.active {
        display: block;
    }
    &--close {
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 25px;
        background: none;
        border: none;
        cursor: pointer;
    }
    &--wrapper {
        margin-top: 20px;
        text-align: center;
        img {
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
            width: 125px;
            height: 125px;
        }
    }
    &--title {
        @include font($size: 23px, $weight: 700, $family: $roboto);
    }
    &--size, &--price {
        @include font($size: 16px, $weight: 700, $family: $mulish);
    }
    &--price {
        margin-bottom: 25px;
    }
    &--basket, &--favorites {
        font-size: 16px;
        border: solid 1px $pink;
        background: $pink;
        padding: 5px 15px;
        color: white;
        cursor: pointer;
        transition: 0.6s;
        &:hover {
            transition: 0.6s;
            background: white;
            color: $pink;
        }
    }
    &--popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(14, 13, 13, 0.8);
        cursor: pointer;
        z-index: 95;
        display: none;
        &.active {
            display: block;
        }
    }
}