.main {
  display: none;
}
.main.open__pages {
  display: block;
}
.category {
  .container {
    position: relative;
  }
  padding-bottom: 100px;
  &__title {
    @include font($size: 30px, $weight: 800, $family: $mulish);
    margin: 88px 0 64px;
  }
  &__container {
    display: flex;
    @include breakpoint(lg) {
      flex-direction: column;
    }
  }
  &__wrapper {
    min-height: 600px;
  }
  &__warning {
    @include font($size: 35px, $weight: 800, $family: $mulish);
    color: red;
    text-align: center;
    margin-top: 100px;
  }
  &__filter {
    flex: 25%;
    margin-right: 50px;
    @include breakpoint(lg) {
      width: 100%;
    }
  }
  &__track {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  &__subtitle {
    @include font($size: 20px, $weight: 600, $family: $mulish);
    color: black;
    margin-bottom: 16px;
    margin-top: 64px;
    &:nth-child(1) {
      margin-top: 0;
    }
    @include breakpoint(lg) {
      cursor: pointer;
      width: 110px;
      &:hover {
        color: $pink;
      }
    }
    &_active {
      color: $pink;
    }
  }
  hr {
    margin-bottom: 32px;
    background: #ccc;
    height: 2px;
    border: none;
    @include breakpoint(lg) {
      margin-bottom: 10px;
    }
  }
  &__list {
    @include breakpoint(lg) {
      width: 200px;
      transition: 0.7s;
      padding: 5px 0;
      display: none;
    }
  }
  &__size {
    @include breakpoint(lg) {
      width: 250px;
      padding: 0 10px;
      transition: 0.7s;
      padding: 5px 0;
      display: none;
    }
    .size__btn {
      @include font($size: 14px, $weight: 600, $family: $mulish);
      color: black;
      background: none;
      border: solid 2px $opactiy;
      margin-right: 16px;
      margin-bottom: 16px;
      text-transform: uppercase;
      padding: 10px;
      &:hover,
      &.active {
        color: white;
        background: $pink;
        border: solid 2px $pink;
      }
    }
  }
  &__price {
    @include breakpoint(lg) {
      width: 250px;
      padding: 0 10px;
      transition: 0.7s;
      padding: 5px 0;
      display: none;
    }
    .price__item {
      display: flex;
      margin-bottom: 16px;
      align-items: center;
      input {
        margin-right: 16px;
        width: 27px;
        height: 27px;
      }
      label {
        @include font($size: 14px, $weight: 600, $family: $mulish);
      }
    }
  }
  &__item {
    list-style-type: none;
    @include font($size: 16px, $weight: 600, $family: $mulish);
    color: $opactiy;
    margin-bottom: 16px;
    cursor: pointer;
    &:hover,
    &.active {
      color: $pink;
    }
  }
  &__color {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include breakpoint(lg) {
      width: 300px;
      transition: 0.7s;
      padding: 5px 0;
      display: none;
    }
  }
  &__box {
    min-width: 100px;
    display: flex;
    margin-right: 0px;
    margin-bottom: 16px;
    align-items: center;
    cursor: pointer;
    &:hover,
    &.active {
      p {
        color: $pink;
      }
    }
    span {
      display: block;
      width: 32px;
      height: 32px;
      border: solid 1px #ccc;
      margin-right: 7px;
    }
    p {
      @include font($size: 14px, $weight: 400, $family: $mulish);
      color: black;
    }
  }
  .field {
    display: flex;
    align-items: center;
    input {
      width: 61px;
      height: 27px;
      margin-right: 8px;
      border: solid 1px $pink;
      padding: 5px;
    }
    span {
      margin-right: 8px;
    }
    &__btn {
      @include font($size: 14px, $weight: 300, $family: $mulish);
      padding: 5px 14px;
      color: white;
      background: $pink;
      border: none;
    }
  }
  &__goods {
    flex: 75%;
    padding-top: 45px;
    @include breakpoint(lg) {
      width: 100%;
      margin-top: 130px;
    }
  }
  &__btn {
    position: absolute;
    content: "";
    right: 15px;
    bottom: 15px;
    padding: 20px 22px;
    border: solid 1px black;
    background: none;
    border-radius: 13px;
    transition: 0.7s;
    &:hover {
      background: $pink;
      border: $pink;
      transition: 0.7s;
      svg {
        path {
          stroke: white;
        }
      }
    }
  }
}

.open__filter {
  display: block;
}