.footer {
  min-height: 200px;
  background: #f5f5f5;
  padding-top: 62px;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(xs){
      flex-direction: column;
      text-align: center;
    }
  }
  &__logo {
    @include breakpoint(xl){
        display: none;
    }
  }
  &__nav {
    @include breakpoint(lg){
        flex: 70%;
        margin-bottom: 35px;
    }
    display: flex;
    flex-direction: column;
    a {
      @include font($size: 14px, $weight: 600, $family: $roboto);
      text-decoration: none;
      color: rgb(170, 135, 135);
      margin-bottom: 10px;
      &:hover {
        color: $pink;
      }
    }
  }
  &__network {
    @include breakpoint(lg){
        flex: 30%;
        margin-bottom: 35px;
    }
    display: flex;
    flex-direction: column;
    a {
      @include font($size: 14px, $weight: 600, $family: $roboto);
      text-decoration: none;
      color: black;
    }
  }
  &__facebook,
  &__instagram,
  &__twitter {
    display: flex;
    margin-bottom: 10px;
    img {
      margin-right: 15px;
      width: 14px;
      height: 14px;
    }
    a:hover {
      color: $pink;
    }
  }
  &__subscribe {
    position: relative;
    @include breakpoint(lg){
        flex: 50%;
        margin-bottom: 35px;
    }
    p {
      @include font($size: 14px, $weight: 600, $family: $roboto);
      margin-bottom: 23px;
    }
  }
  .field__warning {
    position: absolute;
    top: 20px;
    left: 0;
    content: "";
  }
  &__field {
    display: flex;
    input {
      border: solid 1px $pink;
      padding: 10px 15px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      font-size: 16px;
      border-right: none;
      &::placeholder {
        color: black;
      }
    }
    button {
      background: $pink;
      border: none;
      color: white;
      padding: 13px 15px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  &__info {
    @include breakpoint(lg){
        flex: 50%;
        margin-bottom: 35px;
    }
    @include font($size: 14px, $weight: 300, $family: $mulish);
  }
}
