.header {
  background: $headerBg;
  .container {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    @include breakpoint(xs) {
      display: none;
    }
  }
  &__navbar {
    @include breakpoint(lg) {
      position: fixed;
      top: 0;
      right: -350px;
      width: 260px;
      height: 100%;
      background: $pink;
      text-align: center;
      z-index: 90;
      padding-top: 70px;
      transition: 0.7s;
    }
    &_active {
      transition: 0.7s;
      right: 0;
    }
  }
  &__list {
    display: flex;
    @include breakpoint(lg) {
      flex-direction: column;
    }
  }
  &__item {
    margin-right: 60px;
    list-style-type: none;
    &:nth-child(4) {
      margin-right: 0;
    }
    @include breakpoint(lg) {
      margin-right: 0;
      margin-bottom: 25px;
    }
  }
  &__network {
    display: none;
    @include breakpoint(lg) {
      display: block;
    }
    &:hover {
      svg {
        fill: white;
      }
    }
    svg {
      fill: black;
    }
    a {
      &.link_active {
        svg {
          fill: $pink;
          transition: 0.3s;
          @include breakpoint(lg) {
            fill: white;
            transition: 0.3s;
          }
        }
      }
    }
  }
  &__link {
    @include font($size: 14px, $weight: 600, $family: $mulish);
    text-decoration: none;
    color: black;
    &:hover {
      color: $pink;
      border-bottom: solid 2px $pink;
      @include breakpoint(lg) {
        color: white;
      }
    }
    &.link_active {
      color: $pink;
      border-bottom: solid 2px $pink;
      @include breakpoint(lg) {
        color: white;
        border-bottom: solid 2px white;
      }
    }
  }
  &__right {
    display: flex;
  }
  &__search {
    display: flex;
    align-items: center;
    position: relative;
    input {
      border: none;
      border-bottom: solid 2px #ccc;
      padding: 5px 5px 5px 0;
      position: relative;
      background-color: $headerBg;
    }
  }
  &__products {
    position: absolute;
    top: 30px;
    background: white;
    min-width: 100%;
    min-height: 0;
    z-index: 33;
  }
  &__names {
    list-style-type: none;
    margin-bottom: 10px;
    @include font($size: 14px, $weight: 300, $family: $roboto);
    cursor: pointer;
    &:hover {
      background: rgb(197, 197, 197);
    }
  }
  &__btn {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      right: -15px;
      top: -7px;
      background-image: url(../images/dist/search.svg);
      width: 16px;
      height: 16px;
    }
  }
  &__page {
    margin-left: 40px;
    display: flex;
    align-items: center;
    @include breakpoint(lg) {
      display: none;
    }
  }
  &__icon {
    margin-left: 30px;
    @include font($size: 18px, $weight: 600, $family: $mulish);
    text-decoration: none;
    color: black;
    svg {
      fill: black;
      transition: 0.3s;
      width: 16px;
      height: 16px;
    }
    &:hover {
      svg {
        fill: $pink;
        transition: 0.3s;
      }
    }
    &.link_active {
      color: $pink;
      border-bottom: solid 1px $pink;
      svg {
        fill: $pink;
        transition: 0.3s;
        @include breakpoint(lg) {
          fill: white;
          transition: 0.3s;
        }
      }
    }
  }
  .admin-panel {
    display: none;
    &.active {
      display: block;
    }
  }
  &__popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 80;
    cursor: pointer;
    background: rgba(56, 56, 56, 0.7);
    display: none;
    &_active {
      display: block;
    }
  }
  &__burger {
    width: 45px;
    height: 45px;
    position: relative;
    display: none;
    cursor: pointer;
    transition: 0.7s;
    z-index: 95;
    @include breakpoint(lg) {
      display: block;
    }
    &::after,
    & span,
    &::before {
      position: absolute;
      content: "";
      left: 3px;
      background: #000;
      width: 40px;
      height: 3px;
      transition: 0.7s;
      opacity: 1;
    }
    &::after {
      top: 10px;
    }
    & span {
      top: 20px;
    }
    &::before {
      top: 30px;
    }
    &_active {
      position: fixed;
      right: 20px;
      &::after {
        transition: 0.7s;
        top: 20px;
        transform: rotate(43deg);
      }
      & span {
        transition: 0.7s;
        opacity: 0;
      }
      &::before {
        transition: 0.7s;
        top: 20px;
        transform: rotate(-43deg);
      }
    }
  }
}
