.modal__order {
    position: fixed;
    width: 80%;
    min-height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    overflow: hidden;
    z-index: 99;
    display: none;
    padding: 10px;
    &.active {
        display: block;
    }
    &--title {
        color: green;
        @include font($size: 25px, $weight: 800, $family: $mulish);
        text-align: center;
        margin: 50px 0 20px;
    }
    &--close {
        position: absolute;
        content: "";
        right: 15px;
        top: 5px;
        font-size: 35px;
        background: none;
        border: none;
        outline: none;
    }
    &--cart {
        display: flex;
        align-items: center;
        border: solid 1px #ccc;
        height: 120px;
        margin-bottom: 10px;
        padding: 0 10px;
        img {
            width: 100px;
            height: 100px;
            margin-right: 20px;
        }
    }
    &--title {
        @include font($size: 17px, $weight: 800, $family: $roboto);
    }
    &--size, &--price, &--quantity {
        @include font($size: 15px, $weight: 800, $family: $mulish);
    }
    &--result {
        padding: 0 5px;
        text-align: center;
        p {
            @include font($size: 18px, $weight: 800, $family: $mulish);
            margin-bottom: 10px;
            span {
                font-size: 22px;
                color: $pink;
            }
        }
    }
    &--popup {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(19, 19, 19, 0.6);
        width: 100%;
        height: 100%;
        z-index: 97;
        cursor: pointer;
        display: none;
        &.active {
            display: block;
        }
    }
}