.pagination {
  width: 300px;
  margin: 0 auto;
  position: relative;
  &__dots {
    width: 220px;
    min-height: 35px;
    margin: 20px auto 0;
    padding: 0 33px;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  &__list {
    display: flex;
    transition: 1s;
  }
  &__dot {
    list-style-type: none;
    margin-right: 65px;
    cursor: pointer;
    position: relative;
    &:hover {
      color: $pink;
    }
    &::before {
      position: absolute;
      content: "";
      bottom: -8px;
      left: 50%;
      width: 300%;
      height: 3px;
      background: $pink;
      transform: translateX(-50%);
      display: none;
    }
    &_active {
      color: $pink;
      &::before {
        display: block;
      }
    }
  }
  ::-webkit-scrollbar {
    background: none;
    height: 6px;
    border-bottom: solid 1px;
    &-thumb {
      background: $pink;
      border-radius: 10px;
    }
  }
}
