.modal__sign {
    width: 700px;
    min-height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
    background: white;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: none;
    @include breakpoint(md){
        width: 400px;
    }
    @include breakpoint(sm){
        width: 310px;
    } 
    &.active {
        display: block;
    }
    &--close {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
    }
    &--warning {
        text-align: center;
        margin-top: 30px;
        @include font($size: 23px, $weight: 600, $family: $mulish);
    }
    &--form {
        margin-top: 10px;
        width: 310px;
        margin: 30px auto;
        display: flex;
        flex-direction: column;     
    }
    &--text {
        margin-bottom: 10px;
        @include font($size: 18px, $weight: 400, $family: $roboto);
    }
    input {
        font-size: 23px;
        padding: 5px;
        border: solid 1px black;
        margin-bottom: 10px;
        @include breakpoint(sm) {
            width: 95%;
        }
    }
    &--login {
        margin-top: 15px;
        @include font($size: 18px, $weight: 600, $family: $roboto);
        padding: 5px 10px;
        background: $pink;
        border: $pink solid 1px;
        color: white;
        transition: 0.7s;
        &:hover {
            background: white;
            color: $pink;
            transition: 0.7s;
        }
        @include breakpoint(sm) {
            width: 95%;
        }
    }
    &--create {
        text-align: center;
        a {
            font-size: 20px;
        }
    }
}
.modal__popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
    background: rgba(10, 10, 10, 0.7);
    cursor: pointer;
    display: none;
    &.active {
        display: block;
    }
}
