<footer class="footer">
    <div class="container">
        <div class="footer__logo">
            <img src="./images/dist/Logo.svg" alt="logo">
        </div>
        <div class="footer__nav">
            <a href="https://www.instagram.com/ogogo_academy/?hl=en" class="footer__link">About us</a>
            <a href="https://www.instagram.com/ogogo_academy/?hl=en" class="footer__link">Contact</a>
            <a href="https://www.instagram.com/ogogo_academy/?hl=en" class="footer__link">Terms & Conditions</a>
        </div>
        <div class="footer__network">
            <div class="footer__facebook">
                <a href="https://www.facebook.com/zuck/"><img src="./images/dist/facebook.svg" alt="network"></a>
                <a class="footer__item" href="">Facebook</a>
            </div>
            <div class="footer__twitter">
                <a href="https://twitter.com/elonmusk"><img src="./images/dist/twitter.svg" alt="network"></a>
                <a class="footer__item" href="">Twitter</a>
            </div>
            <div class="footer__instagram">
                <a href="https://www.instagram.com/ogogo_academy/?hl=en"><img src="./images/dist/instagram.svg" alt="network"></a>
                <a class="footer__item" href="">Instagram</a>
            </div>
        </div>
        <div class="footer__subscribe">
            <p>Subscribe to our newsletter</p>
            <div class="field__warning"></div>
            <div class="footer__field">
                <input type="text" placeholder="Email Address">
                <button class="footer__btn">ok</button>
            </div>
        </div>
        <div class="footer__info">
            <p>497 Evergreen Rd. Roseville, CA 95673</p>
            <p>+44 345 678 903</p>
            <p>adobexd@mail.com</p>
        </div>
    </div>
</footer>