<header class="header">
  <div class="container">
    <nav class="header__navbar"> <!-- menu -->
      <ul class="header__list">
        <li class="header__item">
          <a href="" class="header__link link_active link__pages" data-link="0">Home</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link link__pages" data-link="1">Clothes</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link link__pages" data-link="2">Shoes</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link link__pages" data-link="3">Accessories</a>
        </li>
        <li class="header__item header__network">
          <a href="" class="header__link link__pages" data-link="4">
            <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" ><path d="M8 0a4 4 0 110 8 4 4 0 010-8zm0 10c4.42 0 8 1.79 8 4v2H0v-2c0-2.21 3.58-4 8-4z"/></svg>
          </a>
        </li>
        <li class="header__item header__network">
          <a href="" class="header__link link__pages" data-link="5">
            <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.8 12.8a1.6 1.6 0 100 3.2 1.6 1.6 0 000-3.2zM0 0v1.6h1.6l2.88 6.072-1.088 1.96a1.63 1.63 0 00-.192.768A1.6 1.6 0 004.8 12h9.6v-1.6H5.136a.2.2 0 01-.2-.2.17.17 0 01.024-.096L5.68 8.8h5.96c.6 0 1.128-.336 1.4-.824L15.904 2.8c.056-.128.096-.264.096-.4a.8.8 0 00-.8-.8H3.368L2.616 0H0zm4.8 12.8a1.6 1.6 0 100 3.2 1.6 1.6 0 000-3.2z"/></svg>
          </a>
        </li>
        <li class="header__item header__network">
          <a href="" class="header__link link__pages admin-panel" data-link="6">
            A
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__logo"> <!-- logo -->
      <img src="./images/dist/Logo.svg" alt="logo" />
    </div> 
    <nav class="header__right">
      <div class="header__search">
        <input type="text" placeholder="Search..." />
        <button class="header__btn">
          <!-- search btn -->
        </button>
        <!-- name products -->
      </div>
      <div class="header__page">
        <a href="" class="header__icon link__pages" data-link="4">
          <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0a4 4 0 110 8 4 4 0 010-8zm0 10c4.42 0 8 1.79 8 4v2H0v-2c0-2.21 3.58-4 8-4z"/></svg>
        </a>
        <a href="" class="header__icon link__pages" data-link="5">
          <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.8 12.8a1.6 1.6 0 100 3.2 1.6 1.6 0 000-3.2zM0 0v1.6h1.6l2.88 6.072-1.088 1.96a1.63 1.63 0 00-.192.768A1.6 1.6 0 004.8 12h9.6v-1.6H5.136a.2.2 0 01-.2-.2.17.17 0 01.024-.096L5.68 8.8h5.96c.6 0 1.128-.336 1.4-.824L15.904 2.8c.056-.128.096-.264.096-.4a.8.8 0 00-.8-.8H3.368L2.616 0H0zm4.8 12.8a1.6 1.6 0 100 3.2 1.6 1.6 0 000-3.2z"/></svg>
        </a>
        <a href="" class="header__icon link__pages admin-panel" data-link="6">
          A
        </a>
      </div>
    </nav>
    <!-- hamburger -->
    <div class="header__burger">
      <span></span>
    </div>
    <!-- popup -->
    <div class="header__popup"></div>
  </div>
</header>
