<div class="modal__sign">
    <button class="modal__sign--close">x</button>
    <h2 class="modal__sign--warning">Log in</h2>
    <form class="modal__sign--form">
        <p class="modal__sign--text">Email</p>
        <input type="email" name="email" />
        <p class="modal__sign--text">Password</p>
        <input type="password" name="password" />
        <button class="modal__sign--login" type="submit">Log in</button>
    </form>
    <div class="modal__sign--create">
        <a href="#">create account</a>
    </div>
</div>
<div class="modal__popup"></div>