.account {
  padding: 64px 0 219px;
  position: relative;
  &__title {
    @include font($size: 30px, $weight: 800, $family: $mulish);
    @include breakpoint(md){
        text-align: center;
    }
  }
  &__continue {
    @include font($size: 20px, $weight: 400, $family: $mulish);
    margin-bottom: 64px;
    @include breakpoint(md){
        text-align: center;
    }
  }
  &__subtitle {
    @include font($size: 20px, $weight: 800, $family: $mulish);
    margin-bottom: 32px;
    @include breakpoint(md){
        text-align: center;
    }
  }
  &__boxes {
    display: none;
    &.active {
      display: block;
    }
  }
  &__text {
    @include font($size: 14px, $weight: 400, $family: $mulish);
    margin: 15px 0;
  }
  &__title {
    margin-bottom: 32px;
    @include font($size: 24px, $weight: 400, $family: $mulish);
  }
  &__list {
    width: 70%;
    @include breakpoint(md){
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }
  }
  &__condition {
    margin-top: 15px;
    display: flex;
    align-items: center;
    input {
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-right: 10px;
      position: relative;
      overflow: hidden;
      &:checked {
        &::before {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          content: "";
          background: url(../../images/dist/Selected.svg) no-repeat center;
        }
      }
    }
  }
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    font-size: 24px;
    padding: 5px;
    border-radius: 6px;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include breakpoint(md) {
        flex-direction: column;
    } 
  }
  &__sign,
  &__create {
    max-width: 410px;
    margin: 40px auto;
    form {
      display: flex;
      flex-direction: column;
      button {
        @include font($size: 18px, $weight: 800, $family: $mulish);
        background: $pink;
        color: white;
        border: solid 1px $pink;
        padding: 12px 0;
        border-radius: 6px;
        margin: 32px 0 29px;
        transition: 0.7s;
        &:hover {
            background: white;
            color: $pink;
            transition: 0.7s;
        }
      }
    }
  }
  &__user {
    display: flex;
    justify-content: space-between;
  }
  &__sidebar {
    width: 30%;
    margin-right: 32px;
    height: 884px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 32px 0;
    @include breakpoint(md) {
      width: 100%;
      height: 50px;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      background: $pink;
      padding-top: 15px;
      z-index: 50;
      transition: 0.7s;
      content: "";
      &.active {
        height: 504px;
        transition: 0.7s;
      }
    }
    &--title {
      @include font($size: 16px, $weight: 800, $family: $mulish);
      color: black;
      text-align: center;
      @include breakpoint(md) {
        color: white;
        cursor: pointer;
        &:hover {
          color: rgb(163, 163, 163);
        }
      }
    }
    &--list {
      margin-top: 20px;
      margin-bottom: 300px;
      @include breakpoint(md) {
        width: 300px;
        margin: 50px auto 0;
      }
    }
    &--item {
      padding: 15px 0;
      list-style-type: none;
      padding: 15px 32px;
      display: flex;
      align-items: center;
      @include font($size: 14px, $weight: 400, $family: $mulish);
      cursor: pointer;
      transition: 0.6s;
      @include breakpoint(md) {
        margin-bottom: 20px;
      }
      svg {
        fill: black;
        margin-right: 18px;
      }
      &.active, &:hover {
        background: $pink;
        color: white;
        svg {
          fill: white;
        }
        @include breakpoint(md) {
          background: white;
          color: black;
          svg {
            fill: black;
          }
        }
      }
    }
    &--out {
      text-align: center;
      @include font($size: 16px, $weight: 600, $family: $mulish);
      text-transform: uppercase;
      color: $pink;
      background: none;
      margin: 0 auto;
      display: flex;
      align-items: center;
      border: none;
      svg {
        margin-right: 16px;
      }
      &:hover {
        border-bottom: 1px solid $pink;
      }
      @include breakpoint(md) {
        color: black;
        margin: 40px auto 0;
      }
    }
  }
  &__information {
    &--wrapper {
      background: #FFFFFF;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
      min-height: 884px;
      padding: 58px 64px 0;
      @include breakpoint(md) {
        padding: 58px 0 0;
        text-align: center;
      }
    }
    &--information {
      display: flex;
      flex-direction: column;
      input[type="text"], input[type="email"], select {
        outline: none;
        max-width: 300px;
        margin-bottom: 20px;
        height: 50px;
        @include breakpoint(md) {
          margin: 0 auto 20px;
        }
      }
    }
    &--text {
      margin-bottom: 20px;
      @include font($size: 14px, $weight: 400, $family: $mulish);
    }
    &--condition {
      display: flex;
      align-items: center;
      @include breakpoint(md) {
        margin: 0 auto;
      }
      input {
        margin-right: 16px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        position: relative;
        &:checked {
          &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../../images/dist/Selected.svg) no-repeat center;
          }
        }
      }
    }
    &--btn {
      padding: 12px 47px;
      background: $pink;
      border: solid 1px $pink;
      text-transform: uppercase;
      @include font($size: 18px, $weight: 800, $family: $mulish);
      color: white;
      border-radius: 10px;
      margin-top: 32px;
      transition: 0.7s;
      &:hover {
        transition: 0.7s;
        background: white;
        color: $pink;
      } @include breakpoint(md) {
        margin: 0 auto;
      }
    }
  }
  &__book {
    &--wrapper {
      background: #FFFFFF;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
      min-height: 238px;
      padding: 32px;
    }
    &--title {
      @include font($size: 20px, $weight: 600, $family: $mulish);
      margin-bottom: 16px;
    }
    &--list {
      li {
        list-style-type: none;
        margin-bottom: 5px;
        @include font($size: 14px, $weight: 400, $family: $mulish);
      }
    }
    &--btns {
      text-align: right;
      @include breakpoint(sm) {
        text-align: center;
        margin-top: 60px;
      }
      button {
        background: none;
        border: none;
        color: $pink;
        &:nth-child(1) {
          margin-right: 65px;
        }
      }
    }
  }
  &__orders {
    &--cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #FFFFFF;
      flex-wrap: wrap;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
      min-height: 192px;
      padding: 32px;
    }
    &--description, &--price, &--details {
      margin: 0 auto 40px;
    }
    &--description {
      display: flex;
      img {
        margin-right: 32px;
        @include breakpoint(sm) {
          margin: 0 auto;
        }
      }
      @include breakpoint(sm){
        flex-direction: column;
      } 
    }
    &--btns {
      margin: 32px 0;
      button {
        padding: 12px 33px;
        @include font($size: 18px, $weight: 800, $family: $mulish);
        border-radius: 10px;
        border: solid 1px $pink;
        cursor: pointer;
        transition: 0.7s;
        @include breakpoint(sm) {
          margin: 20px auto;
        }
      }
    }
    &--again {
      margin-right: 15px;
      background: $pink;
      color: white;
      &:hover {
        background: white;
        color: $pink;
      }
    }
    &--return {
      background: white;
      &:hover {
        background: $pink;
        color: white;
      }
    }
    &--price, &--details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__description {
    &--content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &--status {
      @include font($size: 16px, $weight: 600, $family: $roboto);
      background: green;
      padding: 5px;
      color: white;
      text-align: center;
      margin-right: 20px;
      @include breakpoint(sm) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    &--show {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &--subtitle {
      @include font($size: 20px, $weight: 600, $family: $mulish);
      margin-bottom: 10px;
    }
    &--size {
      @include font($size: 16px, $weight: 600, $family: $mulish);
    }
    &--price {
      @include font($size: 14px, $weight: 400, $family: $mulish);
      color: $pink;
    }
    &--data {
      @include font($size: 12px, $weight: 400, $family: $mulish);
    }
  }
  &__price {
    &--title {
      @include font($size: 16px, $weight: 600, $family: $mulish);
      color: black;
      margin-bottom: 20px;
    }
    &--items, &--delivery, &--total {
      @include font($size: 14px, $weight: 400, $family: $mulish);
    }
  }
  &__details {
    &--method, &--address {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &--title {
      @include font($size: 16px, $weight: 600, $family: $mulish);
      margin-bottom: 5px;
    }
    &--text {
      @include font($size: 12px, $weight: 400, $family: $roboto);
    }
  }
  &__favorites {
    &--wrapper {
      display: flex;
      flex-wrap: wrap;
      @include breakpoint(md) {
        flex-direction: column;
      }
    }
    &--cart {
      background: #FFFFFF;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
      min-height: 261px;
      width: 410px;
      padding: 30px;
      margin-bottom: 15px;
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include breakpoint(md) {
        margin: 0 auto 30px;
      }
      @include breakpoint(sm) {
        max-width: 300px;
      }
    }
    &--description {
      display: flex;
      @include breakpoint(sm) {
        flex-direction: column;
      }
      img {
        width: 86px;
        height: 86px;
        margin-right: 32px;
        @include breakpoint(sm) {
          margin: 0 auto 20px;
        }
      }
    }
    &--content {
      @include breakpoint(sm) {
        margin-bottom: 20px;
      }
    }
    &--title {
      margin-bottom: 8px;
      @include font($size: 20px, $weight: 600, $family: $mulish);
    }
    &--size {
      margin-bottom: 8px;
      @include font($size: 16px, $weight: 600, $family: $mulish);
    }
    &--price {
      @include font($size: 14px, $weight: 400, $family: $mulish);
      color: $pink;
    }
    &--btns {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      button {
        cursor: pointer;
        transition: 0.7s;
        @include font($size: 18px, $weight: 800, $family: $mulish);
        padding: 12px 33px;
        border-radius: 10px;
        border: solid 1px $pink;
        @include breakpoint(sm) {
          padding: 6px 17px;
          @include font($size: 14px, $weight: 800, $family: $mulish);
        }
      }
    }
    &--buy {
      background: $pink;
      color: white;
      &:hover {
        background: white;
        color: $pink;
      }
    }
    &--remove {
      background: none;
      color: $pink;
      display: flex;
      align-items: center;
      svg {
        margin-right: 8px;
        fill: $pink;
        transition: 0.7s;
      }
      &:hover {
        background: $pink;
        color: white;
        svg {
          fill: white;
        }
      }
    }
  }
}
