.admin {
  padding: 70px 0;
  &__title {
    @include font($size: 35px, $weight: 800, $family: $roboto);
    color: $pink;
    text-align: center;
    margin-bottom: 30px;
  }
  &__form {
    background: #ffffff;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  &__text {
    @include font($size: 20px, $weight: 800, $family: $mulish);
    margin-bottom: 15px;
    text-align: center;
  }
  input {
    margin-bottom: 15px;
    font-size: 22px;
    padding: 5px;
    border: solid 1px $pink;
    border-radius: 10px;
  }
  select {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
    outline: none;
    border: solid 1px $pink;
    border-radius: 10px;
  }
  &__add {
    @include font($size: 20px, $weight: 800, $family: $mulish);
    background: $pink;
    border: solid 2px $pink;
    font-size: 22px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: 0.7s;
    &:hover {
        background: white;
        color: $pink;
        transition: 0.7s;
    }
  }
}
