.basket {
  padding: 64px 0 300px;
  &__warning {
    @include font($size: 35px, $weight: 800, $family: $roboto);
    text-align: center;
    margin: 50px 0 0;
    color: $pink;
  }
  &__title {
    @include font($size: 24px, $weight: 800, $family: $mulish);
    margin-bottom: 78px;
    @include breakpoint(lg) {
      text-align: center;
    }
  }
  &__product {
    border: solid 1px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 170px;
    padding: 20px 31px;
    position: relative;
    overflow: hidden;
    margin-bottom: 32px;
    @include breakpoint(md) {
      flex-direction: column;
      text-align: center;
    }
    &--description {
      display: flex;
      position: relative;
      flex-direction: column;
      @include breakpoint(md) {
        margin-bottom: 50px;
        border: solid 1px #ccc;
        padding: 20px 0;
        width: 300px;
      }
      img {
        width: 50px;
        height: 50px;
        margin-right: 32px;
        @include breakpoint(md) {
          margin-right: 0;
        }
      }
    }
    &--info {
      display: flex;
      align-items: center;
      @include breakpoint(md) {
        flex-direction: column;
      }
    }
    &--btns {
      margin-top: 31px;
      @include breakpoint(md) {
        display: flex;
        flex-direction: column;
      }
      button {
        background: none;
        border: none;
        color: $pink;
        @include font($size: 16px, $weight: 600, $family: $mulish);
        @include breakpoint(md) {
          margin-bottom: 20px;
        }
        @include breakpoint(md) {
          margin-right: 0;
        }
        svg {
          margin-right: 8px;
          position: relative;
          top: 2px;
          margin: 0 auto;
        }
      }
    }
    &--favorites {
      margin-right: 64px;
    }
    &--subtitle {
      @include font($size: 20px, $weight: 600, $family: $mulish);
    }
    &--size {
      @include font($size: 16px, $weight: 600, $family: $mulish);
      color: $opactiy;
    }
    &--prices {
      text-align: center;
    }
    &--text {
      @include font($size: 18px, $weight: 600, $family: $mulish);
      margin-bottom: 5px;
    }
    &--totalPrice {
      @include font($size: 20px, $weight: 600, $family: $roboto);
    }
  }
  &__total {
    margin-top: 64px;
    text-align: right;
    @include breakpoint(lg) {
      text-align: center;
    }
    &--result {
      @include font($size: 24px, $weight: 600, $family: $mulish);
      margin-bottom: 18px;
    }
    &--text {
      @include font($size: 16px, $weight: 600, $family: $mulish);
      color: $opactiy;
    }
  }
  &__choice {
    margin-top: 64px;
    text-align: right;
    @include breakpoint(lg) {
      text-align: center;
    }
    &--continue {
      background: none;
      border: solid 1px $pink;
      margin-right: 60px;
      padding: 12px 28px;
      border-radius: 10px;
      transition: 0.6s;
      @include breakpoint(lg) {
        margin-bottom: 20px;
        margin-right: 0;
      }
      &:hover {
        background: $pink;
        transition: 0.6s;
        color: white;
      }
    }
    &--checkout {
      background: $pink;
      border: solid 1px $pink;
      color: white;
      padding: 12px 28px;
      border-radius: 10px;
      transition: 0.6s;
      &:hover {
        background: white;
        color: $pink;
        transition: 0.6s;
      }
    }
  }
  &__checkout {
    &--title {
      @include font($size: 20px, $weight: 800, $family: $mulish);
      
    }
    &--wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      input {
        border: solid 1px black;
        margin-bottom: 20px;
        font-size: 20px;
        padding: 5px;
        border-radius: 10px;
      }
    }
    &--box {
      width: 400px;
      padding: 47px 31px;
      min-height: 1070px;
      margin: 20px auto;
      background: #ffffff;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
      @include breakpoint(md) {
        text-align: center;
      }
    }
    &--description {
      @include breakpoint(md) {
        margin: 0 auto;
      }
    }
    &--subtitle {
      @include font($size: 14px, $weight: 400, $family: $mulish);
      margin-bottom: 16px;
    }
    &--textarea {
      border: solid 1px black;
      border-radius: 10px;
      padding: 5px;
      outline: none;
    }
    &--price {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
      @include breakpoint(md) {
        display: inline;
        margin-bottom: 32px;
      }
      p {
        @include font($size: 14px, $weight: 400, $family: $mulish);
        color: black;
      }
      label {
        @include font($size: 14px, $weight: 400, $family: $mulish);
        color: black;
      }
      @include breakpoint(md) {
        flex-direction: column;
      }
    }
    &--goods {
      margin-bottom: 10px;
      overflow-y: scroll;
      height: 430px;
    }
    &--cart {
      display: flex;
      border: solid 2px #ccc;
      padding: 5px 10px;
      margin-bottom: 30px;
      @include breakpoint(md) {
        flex-direction: column;
      }
      img {
        width: 86px;
        height: 86px;
        margin-right: 32px;
        @include breakpoint(md) {
          margin: 20px auto;
        }
      }
    }
    &--name {
      @include font($size: 20px, $weight: 600, $family: $mulish);
    }
    &--size {
      @include font($size: 16px, $weight: 600, $family: $mulish);
    }
    &--price {
      @include font($size: 14px, $weight: 400, $family: $mulish);
      color: $pink;
    }
    &--agreement {
      @include font($size: 16px, $weight: 600, $family: $mulish);
      color: black;
      display: none;
      &.active {
        display: block;
      }
    }
    &--counter {
      display: flex;
      align-items: center;
      button {
        background: $pink;
        color: white;
        border: none;
        font-size: 23px;
        cursor: pointer;
        padding: 3px 8px;
        &:hover {
          background: #ee3572;
        }
        @include breakpoint(md) {
          margin: 0 auto;
        }
      }
    }
    &--count {
      @include font($size: 18px, $weight: 400, $family: $mulish);
      margin: 0 10px;
      width: 25px;
      height: 25px;
      background: #ccc;
      padding: 0 6px;
    }
    &--pay {
      @include font($size: 14px, $weight: 700, $family: $mulish);
      color: black;
    }
    &--warning {
      margin: 16px 0;
    }
    &--list {
      margin-left: 20px;
    }
    &--text {
      @include font($size: 10px, $weight: 700, $family: $mulish);
      margin-bottom: 4px;
    }
    &--checkbox {
      position: relative;
      top: 3px;
      margin-right: 10px;
      width: 15px;
      height: 15px;
      @include breakpoint(md) {
        
      }
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &:checked {
        &::before {
          background: url(../../images/dist/Selected.svg) center;
        }
      }
    }
    &--card {
      display: flex;
      @include breakpoint(md) {
        display: inline;
      }
    }
    &--radio {
      width: 20px;
      height: 20px;
      position: relative;
      top: 3px;
      &::before,
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 80%;
        height: 80%;
        border-radius: 10px;
      }
      &:checked {
        &::before {
          border: solid 1px $pink;
        }
        &::after {
          background: $pink;
          top: 50%;
          left: 50%;
          width: 60%;
          height: 60%;
          transform: translate(-50%, -50%);
        }
      }
    }
    &--summary {
      @include font($size: 20px, $weight: 800, $family: $mulish);
      color: black;
      font-weight: 700;
      text-align: center;
      margin-bottom: 64px;
    }
    &--score {
      p {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        @include font($size: 16px, $weight: 600, $family: $mulish);
      }
    }
    &--total {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      @include font($size: 16px, $weight: 600, $family: $mulish);
    }
    &--conditions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 60px 0 20px;
      p {
        @include font($size: 16px, $weight: 600, $family: $mulish);
      }
      button {
        @include font($size: 16px, $weight: 600, $family: $mulish);
        padding: 10px;
        border-radius: 7px;
        cursor: pointer;
        background: none;
        &.active {
          background: $pink;
          border: solid 1px $pink;
          color: white;
        }
      }
    }
    &--order {
      width: 100%;
      text-align: center;
      padding: 12px 0;
      background: $pink;
      border-radius: 7px;
      color: white;
      border: none;
      margin-top: 20px;
      &:hover {
        background: white;
        color: $pink;
        border: solid 1px $pink;
      }
    }
  }
}
