.goods {
  padding-top: 64px;
  padding-bottom: 128px;
  position: relative;
  &__title {
    text-align: center;
    @include font($size: 40px, $weight: 700, $family: $mulish);
    margin-bottom: 32px;
    &::before,
    &::after {
      background: #ccc;
      width: 30%;
      position: absolute;
      top: 95px;
      content: "";
      height: 4px;
      @include breakpoint(md) {
        width: 20%;
      }
      @include breakpoint(sm) {
        display: none;
      }
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  &__text {
    text-align: center;
    @include font($size: 24px, $weight: 400, $family: $mulish);
    margin-bottom: 60px;
  }
  &__wrapper {
    overflow: hidden;
    min-height: 500px;
  }
  &__track {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  &__box {
    width: 300px;
    margin: 62px auto;
    img {
      cursor: pointer;
      width: 100%;
      height: 100%;
    }
    @include breakpoint(md) {
      width: 200px;
      margin: 20px auto;
    }
  }
  &__img {
    position: relative;
    cursor: pointer;
    &:hover .goods__basket {
      opacity: 1;
      transition: 0.6s;
    }
  }
  &__basket {
    position: absolute;
    opacity: 0;
    transition: 0.6s;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(22, 22, 22, 0.5);
    padding: 50% 0 0;
    button {
      display: block;
      margin: 0 auto 13px;
      padding: 11px;
      border: none;
      background: white;
      display: flex;
      align-items: center;
      @include font($size: 10px, $weight: 700, $family: $mulish);
    }
    &--add {
      img {
        margin-left: 11px;
        width: 16px;
        height: 16px;
      }
      &:hover {
        color: $pink;
      }
    }
    &--like {
      svg {
        fill: white;
      }
      &:hover,
      &_active {
        svg {
          fill: $pink;
        }
      }
    }
  }
  &__subtitle {
    @include font($size: 20px, $weight: 400, $family: $mulish);
    margin-top: 32px;
    @include breakpoint(md) {
      margin-top: 10px;
    }
  }
  &__description {
    @include font($size: 20px, $weight: 400, $family: $roboto);
    margin-top: 16px;
    @include breakpoint(md) {
      margin-top: 8px;
    }
  }
}
