.page {
  background: $pink;
  min-height: 1090px;
  background-image: url(../images/dist/page-logo.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  text-align: center;
  padding: 10px 15px;
  @include breakpoint(sm) {
    min-height: 600px;
  }
  &__slider {
    padding-top: 50px;
  }
  &__item {
    cursor: pointer;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__link {
    img {
      width: 28px;
      height: 28px;
    }
  }
  &__title {
    @include font($size: 30px, $weight: 600, $family: $mulish);
    color: white;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .swiper-pagination {
    width: 110px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    &-bullet {
      display: block;
      border-radius: 10px;
      width: 16px;
      height: 16px;
      border: solid 2px white;
      cursor: pointer;
      &-active {
        background: white;
      }
    }
  }
}
